<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{manager/layout.html}">
<head>
    <title>Add Book</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header py-3 bg-transparent">
                    <h5 class="mb-0">Add New Book</h5>
                </div>
                <div class="card-body">
                    <div class="border p-3 rounded">
                        <form class="row g-3" method="post" role="form" th:action="@{/manager/book/add}">
                            <div class="col-12">
                                <label class="form-label" for="title">Book title</label>
                                <input type="text" id="title" name="title" class="form-control"
                                       placeholder="Enter the Book title"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="publicationDate">Publication Date</label>
                                <input type="date" id="publicationDate" name="publicationDate" class="form-control"
                                       placeholder="Enter the publication date"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="numberOfCopies">Copies Number</label>
                                <input type="number" id="numberOfCopies" name="numberOfCopies" class="form-control"
                                       placeholder="Enter the Number of copies"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="language">Language</label>
                                <input type="text" id="language" name="language" class="form-control"
                                       placeholder="Enter the Language of the book"/>
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="control-label">Categories</label>
                                <select id="categories" name="categories" class="form-select" multiple="multiple">
                                    <option th:each="category : ${categories}" th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>


                            <div class="col-12">
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary px-4" type="submit">Add Book</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            $('#categories').select2();
        });
    </script>

</div>
</body>
</html>