<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{manager/layout.html}">
<head>
    <title>Add Book</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header py-3 bg-transparent">
                    <h5 class="mb-0">Add New Book</h5>
                </div>
                <div class="card-body">
                    <div class="border p-3 rounded">
                        <form class="row g-3" method="post" role="form" th:action="@{/manager/book/add}">
                            <div class="col-12">
                                <label class="form-label" for="title">Book title</label>
                                <input type="text" id="title" name="title" class="form-control"
                                       placeholder="Enter the Book title"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="publicationDate">Publication Date</label>
                                <input type="date" id="publicationDate" name="publicationDate" class="form-control"
                                       placeholder="Enter the publication date"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="numberOfCopies">Copies Number</label>
                                <input type="number" id="numberOfCopies" name="numberOfCopies" class="form-control"
                                       placeholder="Enter the Number of copies"/>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="language">Language</label>
                                <input type="text" id="language" name="language" class="form-control"
                                       placeholder="Enter the Language of the book" />
                            </div>

                            <div class="col-12 col-md-6">
                                <label class="control-label">Category</label>
                                <div th:each="category : ${allCategories}">
                                    <input type="checkbox" th:id="${'category-' + category.id}" th:name="categories"
                                           th:value="${category.name}"
                                           class="form-check-input"/>
                                    <label th:for="${'category-' + category.id}" th:text="${category.name}"
                                           class="form-check-label"></label>
                                    <br/>
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary px-4" type="submit">Submit Item</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
    <!--end page main-->
</div>
</body>
</html>