<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{manager/layout.html}">
<head>
    <title>Book List</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="mb-3">
        <form th:action="@{/manager/book/search}" method="get">
            <div class="input-group">
                <select class="form-select" id="categories" multiple="multiple" name="categories">
                    <option th:each="category : ${allCategories}" th:value="${category.id}"
                            th:text="${category.name}" th:selected="${selectedCategoryIds != null and selectedCategoryIds.contains(category.id)}"></option>
                </select>
                <button type="submit" class="btn btn-sm btn-primary px-5"><i class="bi bi-funnel"></i>Filter</button>
            </div>
        </form>
    </div>

    <div class="table-responsive-md">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Book Title</th>
                <th>Publication Date</th>
                <th>Available Copies</th>
                <th>Unavailable Copies</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.publicationDate}"></td>
                <td th:text="${book.countAvailableCopies()}" class="available"></td>
                <td th:text="${book.countUnavailableCopies()}" class="unavailable"></td>

                <td>
                    <div class="d-flex align-items-center gap-3 fs-6">
                        <a th:href="@{'/manager/book/edit/'+${book.id}}"
                           class="text-warning" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="" data-bs-original-title="Edit info"
                           aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>

                        <a th:if="${!book.archived}"
                           th:href="@{'/manager/book/archive?id=' + ${book.id} + '&page=' + ${currentPage}}"
                           class="btn btn-primary btn-sm btn-add-book">Archive</a>
                        <a th:if="${book.archived}"
                           th:href="@{'/manager/book/reveal?id=' + ${book.id} + '&page=' + ${currentPage}}"
                           class="btn btn-primary btn-sm btn-add-book">Reveal</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${totalPages > 1}" class="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <span class="page-link">Total Rows: [[${totalItems}]]</span>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{'/manager/book/list?page=' + ${i} }"
                   class="page-link">[[${i}]]</a>
                <span th:unless="${currentPage != i}" class="page-link active">[[${i}]]</span>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages}">
                <a th:href="@{'/manager/book/list?page=' + ${currentPage + 1}}"
                   class="page-link">Next</a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages}">
                <a th:href="@{'/manager/book/list?page=' + ${totalPages} }"
                   class="page-link">Last</a>
            </li>
        </ul>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            $('#categories').select2();
        });
    </script>
</div>
</body>
</html>
