<!-- src/main/resources/templates/change-password.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Change Password</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>
<body>

<div class="container mt-5">
    <h2>Change Password</h2>
    <form th:action="@{/update/password}" th:method="post" th:object="${changePasswordRequest}">
        <!-- Current Password -->
        <div class="form-group">
            <label for="currentPassword">Current Password:</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                   th:field="*{currentPassword}" required/>
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword"
                   th:field="*{newPassword}" required/>
        </div>

        <!-- Confirmation Password -->
        <div class="form-group">
            <label for="confirmationPassword">Confirmation Password:</label>
            <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword"
                   th:field="*{confirmationPassword}" required/>
        </div>

        <div th:if="${param.error}" class="alert alert-danger text-center">
            <strong>Invalid password.</strong>
        </div>

        <div th:if="${param.success}" class="alert alert-success text-center">
            <strong>Password changed.</strong>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-L4GTU6+Kb5BSG7RJZ9aPOeSv9zC7T/iUIdB2lGG+AvOZIljgRPF3b1oPbu4r+1Hy"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofxFYxYqFcCrrWAQq3b1J7G6WGfRTt8DEB"
        crossorigin="anonymous"></script>

</body>
</html>
