<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Account </title>
</head>
<body>

<form th:action="@{/verifyAccount}" th:object="${verify}" method="POST" >
    <div><label> Email : <input type="email" name="Email" th:field="*{email}"/> </label></div>
    <div><label> OTP: <input type="password" name="password" th:field="*{otp}"/> </label></div>

    <button type="submit" class="btn btn-success" > Login </button>

</form>
</body>
</html>